
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Departamentos</div>
	  <div class="panel-body">
	    	
	    	<button ng-click="novo()" class="btn btn-md btn-success">Novo departamento</button>
	    	<button ng-click="menu()" class="btn btn-md btn-primary">Voltar ao Menu</button>

	  </div>

	  <!-- Table -->
	  <table class="table">
	    <thead>
			<tr>
				<th>#</th>
				<th>Departamento</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="o in departamentos">
				<td>{{o.id}}</td>
				<td>{{o.descricao}}</td>
				<td>
					<a ng-href="#/departamento/{{o.id}}/editar">Editar</a> | 							
					<a ng-href="#/departamento/{{o.id}}/excluir">Excluir :(</a>
				</td>
			</tr>
		</tbody>
	  </table>
	</div>

